<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">The ID you are looking for does not exist!!!</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="PartNames" asp-action="Index">Home Page</a>
    </div>
</div>